body {
    background-color: #E2EDFF;
    margin: 0;
    padding: 0;
    transition: background-color .5s;
}

body.dark-mode {
    background-color: #323232;
}

nav {
    background-color: white;
    transition: background-color .5s;
}

nav.dark-mode {
    background-color: black;
}

ul.nav-pills li {
    padding-top: 10px;
}

.nav-pills .nav-link.active{
    background-color: #1B3B66;
}

.nav-pills .nav-link.active:hover{
    background-color: #1B3B90;
}

.nav-pills .nav-link:hover{
    border: #1B3B90 2px solid;
}

.nav-pills .nav-link.active p{
    color: white;
}

a,h5,p {
    color: #1B3B66;
    transition: color .5s;
}

a.dark-mode,h5.dark-mode,p.dark-mode {
    color: #F1F6FF;
}

hr {
    height: 2px;
    border-radius: 20px;
    background-color: #1B3B66;
}

hr.dark-mode {
    background-color: #F1F6FF;
}

button.rounded-circle {
    background-color: #E2EDFF;
    height: 50px;
    width: 50px;
}

button.rounded-circle.dark-mode {
    background-color: #d4d7e6;
}

button.rounded-circle:hover {
    background-color: #d4d7e6;
}

button.rounded-circle.dark-mode:hover {
    background-color: #E2EDFF;
}

button.rounded-circle i {
    transition: transform .5s, color .5s;
    color: #f0ad4e;
}

button.rounded-circle.dark-mode i {
    color: darkgrey;
}

button.rounded-circle i:hover {
    transform: rotateZ(360deg);
    color: darkgrey;
}

button.rounded-circle.dark-mode i:hover {
    transform: rotateZ(-360deg);
    color: #f0ad4e;
}

.nav-brand:hover, .nav-link:hover, a.active{
    color: #1B3B90;
}

.nav-brand.dark-mode:hover, .nav-link.dark-mode:hover, a.active.dark-mode{
    color: #F1F6FF;
}

@media only screen and (min-width: 768px) {
    a.active:after, a.nav-link:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    
    a.active:after, a.nav-link:hover:after {
        width: 100%;
        border-radius: 20px;
        background: #1B3B90;
    }  
    
    a.active.dark-mode:after, a.nav-link.dark-mode:hover:after {
        background: white;
    }
}

a.carousel-control-prev, a.carousel-control-next {
    background-color: rgba(0,0,0,10%); 
    width: 10%;
    opacity: 1;
}

a.carousel-control-prev:hover, a.carousel-control-next:hover {
    background-color: rgba(0,0,0,20%); 
}
.carousel-caption {
    background-color: rgba(0,0,0,50%);
    border-radius: 50px;
}

.carousel-caption p, .carousel-caption h5 {
    color: white;
}

.card, .card.rounded-pill{
    background-color: #F1F6FF;
    transition: background-color .3s;
}

.card.dark-mode, .card.rounded-pill.dark-mode {
    background-color:#515151;
}

.card.rounded-pill:hover {
    background-color: #d4d7e6;
}

.card.rounded-pill.dark-mode:hover {
    background-color: #666666;
}

.card-img-top {
    height: 400px; 
    width: 100%; 
    background-image: url(img/airportLuggage.jpg); 
    background-position: center; 
    background-size: cover;
}

.card-img-top.rounded-pill {
    height: 100%;
}

.cardWidth {
    max-width: 25rem;
}

.cardImgHeight {
    height: 150px;
}

.card-header {
    background-color: #1B3B66;
}

.card-header h4 {
    color: white;
    font-weight: bold;
}

a.btn {
    background-color: #1B3B66;
    color: white;
    transition: transform .3s, background-color .3s;
}

a.btn:hover {
    background-color: #1B3B90;
    color: white;
    position: relative;
    transform: translateY(-3px);
}

a.btn.btn-pill {
    background-color: transparent;
}

#carouselItem1 {
    background-image: url(../img/airportLuggage.jpg);
}

#carouselItem2 {
    background-image: url(../img/universalOrlando.jpg);
}

#carouselItem3 {
    background-image: url(../img/chickenGuy.jpg);
}

#pillImage1 {
    background-image: url(../img/honeyMoon.jpg);
}

#pillImage2 {
    background-image: url(../img/ouachita.jpg);
}

#pillImage3 {
    background-image: url(../img/universalOrlando.jpg);
}

#pillImage4 {
    background-image: url(../img/chickenGuy.jpg);
}

#cardImage1 {
    height: 150px;
    background-image: url(../img/honeyMoon.jpg); 
}

#cardImage1 {
    background-image: url(../img/honeyMoon.jpg); 
}

#cardImage2 {
    background-image: url(../img/ouachita.jpg); 
}